#include <Servo.h>  //Servo kütüphanesi koda dahil edildi
const int trig=10;
const int echo=11;

int sure, mesafe;      // Kullanacağımız değişkenleri tanımlıyoruz
int ENA=9;
int IN1=5;
int IN2=6; 

Servo servo_alt;
Servo servo_sag;     //Servo_2 isimli nesne oluşturuldu
Servo servo_sol;     //Servo_3 isimli nesne oluşturuldu
Servo servo_kiskac;  //Servo_4 isimli nesne oluşturuldu

void motor(){
  servo_alt.attach(4); delay(1000);
  servo_alt.write(45); delay(1000);
  servo_sag.attach(3); delay(1000);
  servo_sag.write(70); delay(1000);
  servo_kiskac.attach(2); delay(1000);
  servo_kiskac.write(120);  delay(1000);
  servo_sol.attach(7);  delay(1000);
  servo_sol.write(120); delay(1000);
  
  
}
 

void setup() {
  motor();
  
  servo_kiskac.write(40);  delay(1000);
  servo_kiskac.attach(2); delay(1000);
  
  pinMode(IN1,OUTPUT);
  pinMode(IN2,OUTPUT);
  pinMode(trig, OUTPUT);
  pinMode(echo, INPUT);
  
  
  
  Serial.begin(9600);
  
}



void loop() {
  analogWrite(ENA, 50);     // Hız ayarı yapılıyor (0-255 arası yazılabilir)
  digitalWrite(IN1, HIGH);  // Dönüş yönü IN1-IN2 pinlerinin hangisinin HIGH
  digitalWrite(IN2, LOW);
  
  
  digitalWrite(trig, LOW);     
  delayMicroseconds(5);        
  digitalWrite(trig, HIGH);    
  delayMicroseconds(10);       
  digitalWrite(trig, LOW);
   
 
 
  sure = pulseIn(echo, HIGH);  
  mesafe = sure * 0.03432 / 2; 
  Serial.print("Mesafe: ");
  Serial.print(mesafe, 1);
  Serial.println(" cm");
  delay(500);
  
  if(mesafe<=4){
   
   servo_alt.write(90);
  
   servo_sag.write(70);
  
   servo_sol.write(120);
  
   servo_kiskac.write(100);
  }
  else{
    digitalWrite(IN1,HIGH);
    digitalWrite(IN2,LOW);
  }
}

*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
